@import '../commonilp.css';

.ilpbanner{
    background: linear-gradient(
      135deg,
      rgba(29, 170, 186, 0.7),
      rgba(10, 125, 140, 0.7)
    ),
url('../../../assets/images/permit/document.jpg') !important;

background-size: cover !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-attachment: fixed !important;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
overflow: hidden;
padding-top: 150px;
padding-bottom: 150px;


}

section.faq-section {
    margin-top:60px;
}