@import '../../commondest.css';
.pelling{
    background: linear-gradient(
      135deg,
      rgba(29, 170, 186, 0.7),
      rgba(10, 125, 140, 0.7)
    ),
url('/assets/images/destinations/pelling-cover.jpg') !important;

background-size: cover !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-attachment: fixed !important;
}
.marg20{
    margin-top: 20px !important
    
}

.howto-step{
    align-items: end !important;
}
@media(max-width:767px){
.whycus{
    margin-top: 30px;  
}

}