@import '../../commondest.css';
.yuksom{
    background: linear-gradient(
      135deg,
      rgba(29, 170, 186, 0.7),
      rgba(10, 125, 140, 0.7)
    ),
url('../../../../assets/images/destinations/yuksom.jpeg') !important;

background-size: cover !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-attachment: fixed !important;
}

.btn-c.exp,
.btn-c.exp{
    padding: 10px !important;
    margin-top: 20px;
}
.marg20{
    margin-top: 20px !important
    
}
.newfor .carfe{
    padding:0;
}

.newfor .carfe h3{
    margin:20px 20px 0 20px  !important;
    
}

.newfor .carfe p{
    margin:10px 20px 20px 20px !important;
}
.howto-step{
    align-items: end !important;
}
.newfor .cardim img{
    height:200px;
    width:100%  !important;
    object-fit:cover;
}
@media(max-width:767px){
.whycus{
    margin-top: 30px;  
}
.onewrap {
    left: 62px !important;
    top: 50px !important;
}

.twowrap {
    left: 70px !important;
    top: 50px !important;
}

.thwrap {
    left: 32px !important;
    top: 50px !important;
}
}  