<div class="container">
    <div class="spacer"></div>
    
    <div class="text-center">
        <h1>Frequently Asked Questions</h1>
        <p>Find answers to commonly asked questions about our cab services</p>
        <div class="divider"></div>
    </div>

    <!-- Search Box -->
    <div class="search-container">
        <div class="search-box">
            <i class="fas fa-search search-icon"></i>
            <input type="text" id="faqSearch" placeholder="Search FAQs..." class="search-input">
        </div>
    </div>
    <h2>FAQs - Wizzride Shared Cabs.
    </h2>
    <div class="faq-container fade-scroll">
        
        <!-- General FAQs -->
        <div class="faq-item">
            <div class="faq-question">
                <h3>What services do you offer?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>We provide various car rental services tailored to meet your needs, including inter-city Shared cab service, airport transfers, local sightseeing, and more.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How many locations do you serve?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>We offer Inter-City Shared cab services on four routes: a. Gangtok - Bagdogra Airport/Siliguri - Gangtok b. Darjeeling - Bagdogra Airport/Siliguri - Darjeeling c. Kalimpong - Bagdogra Airport/Siliguri – Kalimpong d. Shillong – Guwahati City/Airport – Shillong.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Do you provide multiple pickup and drop points?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Yes, we offer multiple fixed pickup and drop points with fixed schedules. Please refer to our website or app for details.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>What types of vehicles does Wizzride provide?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Wizzride offers SUVs (Innova, Innova Crysta) for routes across Shillong, Guwahati, Gangtok, Kalimpong, and Darjeeling. Additionally, we have a range of vehicles for reserved bookings, including hatchbacks, sedans, and other SUVs.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How many people can travel in a Wizzride shared cab?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Each Wizzride shared cab accommodates up to 5 passengers. Detailed seating configurations are available on our website and app.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Is it safe for female passengers to travel alone with Wizzride?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Yes, Wizzride prioritizes passenger safety, with dedicated teams ensuring secure communication throughout trips. Many of our customers are female travelers, who make up over 70% of our client base.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Does Wizzride provide assistance for passengers with special needs or senior citizens?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Our Wizzride team and drivers are committed to assisting passengers with special needs and senior citizens to ensure a smooth and comfortable journey.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Will the Wizzride cab depart on time if only one seat is booked?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Yes, Wizzride cabs prioritize punctuality and will depart on time, even if only one seat is booked.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>What if I have a lot of luggage bags when traveling with Wizzride?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Wizzride allows each passenger up to two luggage bags: one up to 21.5 x 15.5 x 9.5 inches (55 x 40 x 24 cm) and a smaller handbag. Please inform us in advance if you have extra luggage bags.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>What if I need help or have special requests during my Wizzride trip?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Wizzride drivers are trained to accommodate special requests. Please feel free to communicate any specific needs, and we'll do our best to assist.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Lost something in a Wizzride cab? How to report and retrieve it?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>If you've misplaced an item, contact Wizzride customer support at +91 7478493874. We'll assist in locating and returning your item.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Do I need to book a separate seat for my child with Wizzride?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>To ensure a comfortable experience for all, Wizzride requires a separate booking for children 2 years and older. Children under 2 may need to present proof of age if requested.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Can I bring my pet in a Wizzride cab?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Pets are not permitted to travel on shared cabs. However, for private cabs, we do allow pets but require the necessary vaccine certificate, if required.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Can I change my name or pickup/drop location on my Wizzride ticket?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Wizzride does not permit changes to name, pickup location, or destination after booking.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Can I change my name or pickup/drop location on the ticket?
                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Changes to a customer's name, the origin of travel, and/or the destination of travel are not permitted.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>What if I miss my Wizzride cab?

                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>If you miss your Wizzride cab and do not have your ticket scanned on time, it will be considered a no-show, and your ticket will be canceled.

                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Does Wizzride offer discounts for frequent riders?

                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Yes, Wizzride provides loyalty discounts for frequent riders. For more information, please call +91 7478493874.

                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How do I get a receipt or invoice for my Wizzride trip?

                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Wizzride automatically emails invoices. For additional assistance, email customersupport&#64;wizzride.com.

                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How long does Wizzride's refund procedure take?

                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Wizzride refunds typically take 5-7 business days to process. For questions, contact customersupport&#64;wizzride.com or call +91 7478493874.

                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Can I reschedule my Wizzride cab in case of a delayed train arrival?

                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>If your train is delayed, Wizzride allows a 15-minute grace period after the scheduled departure. For longer delays, you may reschedule within the same day based on seat and cab availability.

                </p>
            </div>
        </div>


        <div class="faq-item">
            <div class="faq-question">
                <h3>How much is the taxi fare from Wizzride Darjeeling to Bagdogra?


                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>The taxi fare from Darjeeling to Bagdogra with Wizzride starts at Rs. 999.

                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How much is Wizzride from Gangtok to Bagdogra?


                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>The fare for a Wizzride cab from Gangtok to Bagdogra starts at Rs 999*.


                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How much is Wizzride from Siliguri to Gangtok?


                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Wizzride's fare from Siliguri to Gangtok starts at Rs 999*.


                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How much does a cab cost from Guwahati to Shillong?


                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>A one-way shared Wizzride cab from Guwahati to Shillong with Wizzride is around Rs 789*.


                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How much does a taxi cost from Bagdogra to Gangtok?


                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>A one-way taxi from Bagdogra to Gangtok with Wizzride is approximately Rs 999*


                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>Are taxis available at Bagdogra airport?



                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Yes, taxis, including Wizzride cabs, are available at Bagdogra Airport for various destinations.



                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How much is a taxi from Siliguri to Kalimpong?



                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>A taxi from Siliguri to Kalimpong with Wizzride starts at Rs 799*.



                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How much is the car fare from Siliguri to Gangtok?



                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>The car fare from Siliguri to Gangtok with Wizzride starts at Rs 999*.



                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>What is the taxi fare from Guwahati Airport to Shillong?



                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>The fare for a one-way Wizzride taxi from Guwahati Airport to Shillong starts at Rs 799.



                </p>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <h3>How long is the taxi from Siliguri to Kalimpong?



                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>The journey from Siliguri to Kalimpong takes around 2.5 to 3 hours.



                </p>
            </div>
        </div>
    </div>
    <textarea class="form-control" placeholder="Couldn't find your question on the list? Post your question here and we will get back with an answer."></textarea>
    <button type="submit" class="btn btn-c">Submit</button>
    <div class="no-results" id="noResults">
        <i class="fas fa-search" style="font-size: 3rem; color: #e2e8f0; margin-bottom: 20px;"></i>
        <h3>No FAQs found</h3>
        <p>Try searching with different keywords or browse all FAQs above.</p>
    </div>

    <div style="margin-top: 60px;">
        <h2>FAQs - Wizzride Reserved Cabs</h2>
    </div>
    <div class="faq-container">
        <div class="faq-item">
            <div class="faq-question">
                <h3>In what mode does the refund amount get remitted?



                </h3>
                <div class="faq-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="faq-answer">
                <p>Refunds are credited to the same bank account through which the payment was made during booking. For further inquiries or assistance, please visit our website at www.wizzride.com or contact us at customersupport&#64;wizzride.com.




                </p>
            </div>
        </div>
    </div>
    <textarea class="form-control" placeholder="Couldn't find your question on the list? Post your question here and we will get back with an answer."></textarea>
    <button type="submit" class="btn btn-c">Submit</button>
    <div class="spacer"></div>
</div>


